<ion-view  view-title='搜索大坏蛋' >
  <ion-nav-bar align-title="center"  class="bar-positive">
    <ion-nav-back-button class="button-clear ">
    <i class="ion-arrow-left-c"></i>
  </ion-nav-back-button>
  </ion-nav-bar>
 <ion-content  class='badmansearch' >
 <!-- 搜索框 -->
      <div class="item-input-inset">
        <label class="item-input-wrapper">
          <i class="icon ion-ios7-search placeholder-icon"></i>
          <input  ng-model="data.searchtext" ng-model-options="{debounce: 2000 }" type="search" placeholder="请输入关键词">
        </label>
      </div>
<!-- 列表 -->
 <ion-list>
  <ion-item href="#/workplacerights/cartoon">搜索大坏蛋</ion-item>
   <ion-item href="#/workplacerights/cartoon">搜索大坏蛋</ion-item>
    <ion-item href="#/workplacerights/cartoon">搜索大坏蛋</ion-item>
     <ion-item href="#/workplacerights/cartoon">搜索大坏蛋</ion-item>
    <ion-item href="#/workplacerights/cartoon">搜索大坏蛋</ion-item>
    <ion-item href="#/workplacerights/cartoon">搜索大坏蛋</ion-item>
    <ion-item href="#/workplacerights/cartoon">搜索大坏蛋</ion-item>
   <ion-item href="#/workplacerights/cartoon">搜索大坏蛋</ion-item>
    <ion-item href="#/workplacerights/cartoon">搜索大坏蛋</ion-item>
    <ion-item href="#/workplacerights/cartoon">搜索大坏蛋</ion-item>
   <ion-item href="#/workplacerights/cartoon">搜索大坏蛋</ion-item>
</ion-list>
 </ion-content>
</ion-view>
