<ion-view  class='workrightview' view-title='职场上我的那些权利' >
  <ion-nav-bar align-title="center"  class="unhide bar-positive">
    <ion-nav-back-button class="button-clear ">
    <i class="ion-arrow-left-c"></i>
  </ion-nav-back-button>
  </ion-nav-bar>
 <ion-content scroll="true"  has-bouncing='true' class='badmansearch' >

     
        <label style='line-height: 40px;font-size: 16px;' class="item-input-wrapper">
         漫画版
        </label>
 
<!-- 列表 -->
 <ion-list>
<ion-item href="#/workplacerights/cartoon">职场上我的那些权利漫画版</ion-item>
<ion-item href="#/workplacerights/cartoon">职场上我的那些权利漫画版</ion-item>
<ion-item href="#/workplacerights/cartoon">职场上我的那些权利漫画版</ion-item>
<ion-item href="#/workplacerights/cartoon">职场上我的那些权利漫画版</ion-item>
<ion-item href="#/workplacerights/cartoon">职场上我的那些权利漫画版</ion-item>
<ion-item href="#/workplacerights/cartoon">职场上我的那些权利漫画版</ion-item>
<ion-item href="#/workplacerights/cartoon">职场上我的那些权利漫画版</ion-item>
<ion-item href="#/workplacerights/cartoon">职场上我的那些权利漫画版</ion-item>
<ion-item href="#/workplacerights/cartoon">职场上我的那些权利漫画版</ion-item>
<ion-item href="#/workplacerights/cartoon">职场上我的那些权利漫画版</ion-item>
<ion-item href="#/workplacerights/cartoon">职场上我的那些权利漫画版</ion-item>
<ion-item href="#/workplacerights/cartoon">职场上我的那些权利漫画版</ion-item>
<ion-item href="#/workplacerights/cartoon">职场上我的那些权利漫画版</ion-item>
<ion-item href="#/workplacerights/cartoon">职场上我的那些权利漫画版</ion-item>
<ion-item href="#/workplacerights/cartoon">职场上我的那些权利漫画版</ion-item>
<ion-item href="#/workplacerights/cartoon">职场上我的那些权利漫画版</ion-item>
<ion-item href="#/workplacerights/cartoon">职场上我的那些权利漫画版</ion-item>
<ion-item href="#/workplacerights/cartoon">职场上我的那些权利漫画版</ion-item>
<ion-item href="#/workplacerights/cartoon">职场上我的那些权利漫画版</ion-item>
<ion-item href="#/workplacerights/cartoon">职场上我的那些权利漫画版</ion-item>
</ion-list>
 </ion-content>
</ion-view>
